.nav {
    position: fixed;
    width: 100%;
    height: 10%;
    background: var(--linear-bg);
    display: flex;
    justify-content: space-between;
    padding: 3.5rem 3.5rem;
    overflow: hidden;
    z-index: 1;
    align-items: center;
}

nav {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.contact {
    cursor: pointer;
    display: none;
    color: var(--text-secondary);
    font-size: 1rem;
    font-weight: 500;
}

.contact:hover {
    color: var(--text-primary);
}

#logo {
    height: 1.5rem;
    z-index: 2;
}

a {
    color: var(--text-secondary);
}

.nav-menu {
    gap: 3rem;
    display: flex;
    font-size: 1.3rem;
}

.nav-item a:hover {
    color: var(--text-primary);
    cursor: pointer;
}

.activeClass {
    color: var(--text-primary);
}

#hamburguer {
    display: none;
    color: var(--text-secondary);
    font-size: 1.8rem;
    z-index: 2;
}

#hamburguer:hover {
    color: var(--text-primary);
} 

#darkToggle {
    font-size: 1.3rem;
    cursor: pointer;
    color: var(--text-secondary);
    z-index: 2;
}

#darkToggle:hover {
    color: var(--text-primary);
}

.nav-linkedin {
    display: none;
}

@media (max-width: 870px) {
    
    .nav {
       padding: 3.5rem 2rem;
    }
    
    #hamburguer {
        display: flex;
        cursor: pointer;
    }

    .contact {
        display: block;
    }
    
    .nav-menu {
        gap: 1rem;
        width: 100%;
        position: fixed;
        left: -100%;
        top: 0;
        flex-direction: column;
        background-color: var(--bg-primary);
        height: 100vh;
        z-index: 1;
        text-align:center;
        transition: .3s;
        justify-content: center;
    }

    .nav-menu.active {
        left: 0;
    }
    
    .nav-item {
        margin: .5rem 0;
    }

    .nav-item a {
        font-size: 1.7rem;
    }
}