@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

:root {
  --title-text: #2b2b2c;
  --title-bg: #f75575de;
  --bg-primary: #fcfaff;
  --bg-secondary: #cccacf;
  --bg-hover: #e0d2e0;
  --text-primary: #1a1523;
  --text-secondary: #88888a;
  --text-tertiary: #616063;
  --font: 'Poppins', sans-serif;
  --three-five-size: 3.5rem;
  --one-size: 1rem;
  --linear-bg: linear-gradient(
    hsl(0, 0%, 100%) 0%,
    hsla(0, 0%, 100%, 0.738) 19%,
    hsla(0, 0%, 100%, 0.541) 34%,
    hsla(0, 0%, 100%, 0.382) 47%,
    hsla(0, 0%, 100%, 0.278) 56.5%,
    hsla(0, 0%, 100%, 0.194) 65%,
    hsla(0, 0%, 100%, 0.126) 73%,
    hsla(0, 0%, 100%, 0.075) 80.2%,
    hsla(0, 0%, 100%, 0.042) 86.1%,
    hsla(0, 0%, 100%, 0.021) 91%,
    hsla(0, 0%, 100%, 0.008) 95.2%,
    hsla(0, 0%, 100%, 0.002) 98.2%,
    hsla(0, 0%, 100%, 0) 100%
  );
}

[data-theme='dark'] {
  --title-text: #ebe1eb;
  --title-bg: #c80028de;
  --test: #c600d8;
  --bg-primary: #161618;
  --bg-secondary: #2b2b2c;
  --bg-hover: #232326;
  --text-primary: #ebe1eb;
  --text-secondary: #a09fa6;
  --text-tertirary: #a3a3a7;
  --linear-bg: linear-gradient(
    hsl(0, 0%, 4%) 0%,
    hsla(0, 0%, 4%, 0.738) 19%,
    hsla(0, 0%, 4%, 0.541) 34%,
    hsla(0, 0%, 4%, 0.382) 47%,
    hsla(0, 0%, 4%, 0.278) 56.5%,
    hsla(0, 0%, 4%, 0.194) 65%,
    hsla(0, 0%, 4%, 0.126) 73%,
    hsla(0, 0%, 4%, 0.075) 80.2%,
    hsla(0, 0%, 4%, 0.042) 86.1%,
    hsla(0, 0%, 4%, 0.021) 91%,
    hsla(0, 0%, 4%, 0.008) 95.2%,
    hsla(0, 0%, 4%, 0.002) 98.2%,
    hsla(0, 0%, 4%, 0) 100%
  );
}

*,
*:after,
*:before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font);
  text-decoration: none;
  list-style: none;
}

body {
  font-size: 100%;
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow-x: hidden;
}

.title-bg {
  position: absolute;
  background: var(--title-bg);
  width: 9rem;
  height: 1.6rem;
  margin-left: 0;
}

.App {
  background-color: var(--bg-primary);
  color: var(--text-primary);
  transition: .3s;
  overflow: hidden;
}

p {
  color: var(--text-secondary);
}

p span {
  padding-right: .5rem;
}

/* html::-webkit-scrollbar {
  width: 10px;
}

html::-webkit-scrollbar-thumb {
  background-color: var(--text-primary);

}

html::-webkit-scrollbar-track {
  background-color: var(--text-secondary);
} 

html {
  scrollbar-color: var(--text-secondary) var(--text-primary);
  scrollbar-width: thin;
  width: 100%;
} */

@media only screen and (min-width: 850px) {

  nav {
    gap: 3rem;
  }

  .menu {
    gap: 2.5rem;
  }

}

@media only screen and (min-width: 1000px) {
  
  .presentation {
    width: 60%;
  }
}

@media only screen and (max-width: 1000px) {

  #logo a {
    font-size: 1.5rem;
  }

  .about {
    font-size: 1.4rem;
  }

  .slide-track {
    animation: scroll 35s linear infinite;
    gap: 170px;
  }

  .tech {
    font-size: 6rem;
  }
  
  h1 {
    font-size: 2.3rem;
  }

  .presentation p {
    font-size: 1.2rem;
  }

  a {
    font-size: 1.2rem;
  }

  .wrapper {
    overflow-y: hidden;
  }
}

@media only screen and (max-width: 870px) {
  .about p {
    font-size: 1.3rem;
  }
}

@media only screen and (max-width: 676px) {
  
  .about p {
    font-size: 1.2rem;
  }

  .slide-track {
    animation: scroll 30s linear infinite;
    gap: 150px;
  }
  
  .tech {
    font-size: 5rem;
  }

  h1 {
    font-size: 1.7rem;
  }

  .presentation p {
    font-size: 1rem;
  }

  a {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 524px) {
  
  .about p {
    font-size: 1rem;
  }

  .slide-track {
    animation: scroll 25s linear infinite;
    gap: 130px;
  }

  .tech {
    font-size: 4rem;
  }

  h1 {
    font-size: 1.5rem;
  }

  .presentation p {
    font-size: .9rem;
  }

  a {
    font-size: .9rem;
  }

  .wrapper {
    overflow-y: hidden;
  }
}